{{#if session.isAuthenticated}}
{{site-header}}
{{/if}}

{{ember-notify closeAfter=4000}}

<div class="center-wrapper">
  {{outlet}}
</div>

{{#if session.isAuthenticated}}
<footer>
  {{link-to (t 'navigation.players_list') 'index'}}
  {{link-to (t 'navigation.contacts') 'contacts'}}
</footer>
{{/if}}
