<form class="pure-form pure-form-stacked" {{action 'passwordSignIn' on="submit"}}>
  <div class="pure-control-group">
    <label for="email">Email</label>
    {{input
      name="email"
      type="email"
      id="email"
      placeholder="Email"
      value=email}}
  </div>

  <div class="pure-control-group">
    <label for="password">Password</label>
    {{input
      name="password"
      id="password"
      type="password"
      placeholder="Password"
      value=password}}
  </div>

  <div class="pure-controls">
    <button type="submit" class="pure-button pure-button-primary">Submit</Button>
    {{#if isAuthenticated}}
    <a href="#" {{action 'signOut'}}>Sign OUT</a>
    {{else}}
    <a href="#" {{action 'googleSignIn'}}>Google Sign In</a>
    <a href="#" {{action 'githubSignIn'}}>Github Sign In</a>
    {{/if}}
  </div>
</form>
