{{#with changeset as |changeset|}}

<div class="login-page">
  <h1>{{t 'login.title'}}</h1>
  <form
    class="login-form pure-form pure-form-aligned"
    {{action 'passwordSignIn' on="submit"}}
  >
    <div class="pure-control-group">
      <label for="email">{{t 'form.labels.email'}}</label>
      {{input
        name="email"
        type="email"
        id="email"
        placeholder=(t 'form.labels.email')
        value=changeset.email}}
    </div>

    <div class="pure-control-group">
      <label for="password">{{t 'form.labels.password'}}</label>
      {{input
        name="password"
        id="password"
        type="password"
        placeholder=(t 'form.labels.password')
        value=changeset.password}}
    </div>

    {{form-errors changeset=changeset}}

    <div class="controls-wrapper">
      <button type="submit" class="pure-button pure-button-primary">{{t 'buttons.login'}}</Button>
      {{t 'or'}} {{link-to (t 'buttons.register') "register"}}
    </div>
  </form>

  <div class="social-login">
    <button type="button" class="google-sign-in" {{action 'googleSignIn'}}>{{t 'buttons.google_sign_in'}}</button>
    <button type="button" class="github-sign-in" {{action 'githubSignIn'}}>{{t 'buttons.github_sign_in'}}</button>
  </div>
</div>
{{/with}}
