{{#with changeset as |changeset|}}
<div class="register-page">
  <h1>
    {{t 'register.title'}}
  </h1>

  <form
    class="register-form pure-form pure-form-aligned"
    {{action "register" on="submit"}}
  >
    <div class="pure-control-group">
      <label for="name">{{t 'form.labels.name'}}</label>
      {{input
        id="name"
        name="name"
        type="text"
        placeholder=(t 'form.labels.name')
        value=changeset.name
      }}
    </div>

    <div class="pure-control-group">
      <label for="email">{{t 'form.labels.email'}}</label>
      {{input
        id="email"
        name="email"
        type="email"
        placeholder=(t 'form.labels.email')
        value=changeset.email
      }}
    </div>

    <div class="pure-control-group">
      <label for="password">{{t 'form.labels.password'}}</label>
      {{input
        id="password"
        name="password"
        type="password"
        placeholder=(t 'form.labels.password')
        value=changeset.password
      }}
    </div>

    {{form-errors changeset=changeset}}

    <div class="controls-wrapper">
      <button
        type="submit"
        name="submit"
        class="pure-button pure-button-primary">{{t 'buttons.register'}}</button>
      {{t 'or'}} {{link-to (t 'buttons.login') "login"}}
    </div>
  </form>

</div>
{{/with}}
